<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> All Rights Reserved
    	</div>
      	<div class="footer-right">
      		<a href="http://blog.csdn.net/qq_27093465?viewmode=contents" target="_blank">大师兄股份有限公司</a>  待创建
      	</div>
    </div>
  </div>
</footer>
